.form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input {
  margin-bottom: 10px;
}

.button {
  width: 100px;
  /* color:lawngreen; */
}
